@import url('./table-cell.css');
@import url('./table-header.css');
@import url('./table-header-cell.css');
@import url('./table-footer.css');
@import url('./table-footer-cell.css');
@import url('./table-row.css');

.view-table {
    --table-cell-padding-top: 2px;
    --table-cell-padding-right: 8px;
    --table-cell-padding-bottom: 2px;
    --table-cell-padding-left: 8px;

    font-size: 12px;
    line-height: 19px;
    /* border-collapse: collapse; */
    border-spacing: 0;
}

.view-table > tbody > .view-table-row:not(:last-child) > td,
.view-table > tbody:not(:last-child) > .view-table-row:last-child > td,
.view-table > .view-table-more-buttons:not(:last-child) > tr > td:not(:empty) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.view-table > tbody.view-table-more-buttons > tr > td > .more-buttons {
    margin-bottom: 2px;
}
.view-table > tbody.view-table-more-buttons > tr > td:empty {
    padding: 0;
}

.view-table-cell-details-row > .view-cell-details-content > .view-table:first-child {
    margin-top: -1px !important;
}
