.view-table-footer-cell {
    padding:
        var(--table-cell-padding-top)
        max(calc(var(--table-cell-padding-right) - 1px), 0px)
        var(--table-cell-padding-bottom)
        var(--table-cell-padding-left);
    border: solid var(--discovery-background-color);
    border-top-color: transparent;
    border-width: 1px 1px 1px 0;
    color: #888;
    background-color: color-mix(in srgb, var(--discovery-background-color), #8d8d8d 8%);
    background-clip: padding-box;
}
.view-table-footer-cell:last-child {
    border-right: 0;
}
