.view-table {
    font-size: 12px;
    line-height: 19px;
    /* border-collapse: collapse; */
    border-spacing: 0;
}

.view-table > thead {
    position: sticky;
    top: 0px;
    z-index: 1;
}
.view-table > thead th {
    padding: 2px 8px;
    font-weight: normal;
    text-align: left;
    background: #8d8d8d26 no-repeat right 1px center;
    background-color: color-mix(in srgb, var(--discovery-background-color), #8d8d8d 15%);
    background-size: 16px;
    background-clip: padding-box;
    border: solid var(--discovery-background-color);
    border-width: 1px 1px 1px 0;
}
.view-table > thead th:last-child {
    border-right: none;
}
.view-table > thead th.sortable {
    padding-right: 18px;
    background-image: url('./table-sortable.svg');
    cursor: pointer;
}
.view-table > thead th.sortable:not(.asc):not(.desc) {
    background-size: 14px;
    background-position: right 2px center;
}
.view-table > thead th.sortable.asc {
    background-image: url('./table-sort-asc.svg');
}
.view-table > thead th.sortable.desc {
    background-image: url('./table-sort-desc.svg');
}
.view-table > thead th.sortable:hover {
    background-color: rgba(141, 141, 141, 0.3);
    background-color: color-mix(in srgb, var(--discovery-background-color), rgba(141, 141, 141) 30%);
}

.view-table > tbody > .view-table-row:not(:last-child) > td,
.view-table > tbody:not(:last-child) > .view-table-row:last-child > td,
.view-table > .view-table-more-buttons:not(:last-child) > tr > td:not(:empty) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.view-table > tbody.view-table-more-buttons > tr > td > .more-buttons {
    margin-bottom: 2px;
}
.view-table > tbody.view-table-more-buttons > tr > td:empty {
    padding: 0;
}

.view-table-cell-details-row > .view-cell-details-content > .view-table:first-child {
    margin-top: -1px !important;
}
