.discovery-view-inspector-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 255, .1);
    z-index: 2000;
    /* pointer-events: none; */
}
.discovery-view-inspector-overlay.pick-element {
    pointer-events: auto;
}
.discovery-view-inspector-overlay .overlay {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.001);
    transition: background-color 15ms 25ms;
    box-sizing: border-box;
}
.discovery-view-inspector-overlay .overlay.hovered {
    background-color: rgba(0, 255, 0, var(--discovery-background-alpha));
    outline: 1px dashed rgba(0, 128, 0, .4);
    --discovery-background-alpha: .3;
}
.discovery-root-darkmode .discovery-view-inspector-overlay .overlay.hovered {
    outline-color: rgba(128, 200, 128, .65);
    --discovery-background-alpha: .2;
}

.discovery-inspect-details-popup {
    pointer-events: none;
    z-index: 2001;
    max-width: 650px !important;
    background: rgba(255, 255, 255, var(--discovery-background-alpha));
    display: grid;
    grid-template-areas:
        "stack"
        "content";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1px;

    --discovery-background-alpha: .95;
    --discovery-mate-background: rgba(240, 240, 240, .5);
    --discovery-link-color: #333;
    --discovery-link-underline-color: #0002;
}
.discovery-root-darkmode.discovery-inspect-details-popup {
    background: rgba(36, 36, 36, var(--discovery-background-alpha));

    --discovery-background-alpha: .92;
    --discovery-mate-background: rgba(52, 52, 52, .5);
    --discovery-link-color: #aaa;
    --discovery-link-underline-color: #aaa2;
}
.discovery-inspect-details-popup.frozen {
    pointer-events: all;
    top: 20px !important;
    left: 20px !important;
    right: 20px !important;
    bottom: 20px !important;
    height: calc(100vh - 40px); /* Safari scrolls popup content otherwise */
    padding: 1px;
    max-height: none !important;
    max-width: none !important;
    transition: .1s ease-in-out;
    transition-property: top, left, right, bottom;
    grid-template-areas:
        "sidebar stack"
        "sidebar content";
    grid-template-rows: auto minmax(20%, 1fr);
    grid-template-columns: minmax(290px, 25%) 1fr;
}

.discovery-inspect-details-popup .sidebar {
    grid-area: sidebar;
    overflow: auto;
    padding: 4px;
    background-color: var(--discovery-mate-background);
}
.discovery-inspect-details-popup .view-tree-leaf-content {
    white-space: nowrap;
}
.discovery-inspect-details-popup .view-tree-leaf-content .view-root {
    background-color: rgba(85, 204, 0, .25);
    box-shadow: 0 0 0 3px rgba(85, 204, 0, .25);
    display: inline;
}
.discovery-inspect-details-popup .view-tree-leaf-content .selected {
    background-color: rgba(78, 187, 255, .3);
    box-shadow: 0 0 0 3px rgba(78, 187, 255, .3);
    display: inline;
}

.discovery-inspect-details-popup .stack-view-chain {
    grid-area: stack;
}
.discovery-inspect-details-popup .stack-view-chain .view-toggle {
    border-radius: 0;
}
.discovery-inspect-details-popup .stack-view-chain .view-root:not(.checked):not(:hover) {
    background-color: rgba(85, 204, 0, .25);
}

.discovery-inspect-details-popup .inspect-details-content {
    grid-area: content;

    overflow: hidden;
    display: grid;
    grid-template-areas:
        "config data"
        "config context";
    grid-template-columns: minmax(200px, 40%) 1fr;
    gap: 1px;
}
.discovery-inspect-details-popup .inspect-details-content .view-struct {
    overflow: visible;
    background-color: transparent;
}
.discovery-inspect-details-popup .inspect-details-content > * {
    overflow: hidden; /* use auto only when popup is frozen to avoid flicking scrollbars */
    background-color: var(--discovery-mate-background);
    font-size: 12px;
    line-height: 14px;
}
.discovery-inspect-details-popup.frozen .inspect-details-content > * {
    overflow: auto; /* use auto only when popup is frozen to avoid flicking scrollbars */
}
.discovery-inspect-details-popup .inspect-details-content > ::before,
.discovery-inspect-details-popup .inspect-details-content .raw-config::before {
    content: var(--header);
    display: inline-block;
    padding: 4px 12px;
    background-color: rgba(100, 100, 100, .125);
}
.discovery-inspect-details-popup .inspect-details-content .config {
    grid-area: config;
    --header: 'Render props';
}
.discovery-inspect-details-popup .inspect-details-content .raw-config {
    --header: 'Config';
}
.discovery-inspect-details-popup .inspect-details-content .config > .view-tree {
    margin-left: 6px;
}
.discovery-inspect-details-popup .inspect-details-content .config .view-tree-leaf-content > .view-struct {
    margin: -4px;
}
.discovery-inspect-details-popup .inspect-details-content .data {
    grid-area: data;
    --header: 'Data';
}
.discovery-inspect-details-popup .inspect-details-content .context {
    grid-area: context;
    --header: 'Context';
}

@supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    .discovery-inspect-details-popup {
        --discovery-background-alpha: .65;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .discovery-root-darkmode.discovery-inspect-details-popup {
        --discovery-background-alpha: .4;
    }
    .discovery-view-inspector-overlay .overlay.hovered {
        --discovery-background-alpha: .25;
        -webkit-backdrop-filter: grayscale(1);
        backdrop-filter: grayscale(1);
    }
}
