.discovery {
    display: flex;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.discovery-content {
    flex: 1;
    position: relative;
    overflow: auto;
    padding: 20px 40px 30px;
    z-index: 10;
}

.discovery-content .page {
    padding-top: 15px;
}

.discovery-sidebar {
    overflow: auto;
    width: 350px;
    background: #f0f0f0;
    border-right: 1px solid #DDD;
    box-shadow: 2px 0 5px -3px rgba(0, 0, 0, .26);
    transform: translate3d(0,0,0);
}
.discovery-sidebar:empty {
    display: none;
}
.discovery-sidebar .view-tabs,
.discovery-sidebar .view-tabs-content,
.discovery-sidebar .view-content-filter {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.discovery-sidebar .view-content-filter > .view-input {
    border-bottom: 1px solid #DDD;
    background: white;
    margin-bottom: -1px;
}
.discovery-sidebar .view-content-filter > .view-input input,
.discovery-sidebar .view-content-filter > .view-input input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.discovery-sidebar .view-content-filter > .content > .view-list {
    padding: 8px 0 8px 12px;
}
.discovery-sidebar .view-list-item:first-child .view-toc-section {
    margin-top: -8px;
}
.discovery-sidebar .view-list-item:last-child .view-toc-section {
    margin-bottom: -8px;
}
.discovery-sidebar .view-toc-section {
    margin-left: -12px;
}
.discovery-sidebar .view-text-match {
    background: white;
    border-bottom: 2px solid orange;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    padding: 0 1px;
}

.discovery-content-badges {
    position: absolute;
    top: 0;
    right: 40px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    user-select: none;
}
.discovery-content-badges > .badge {
    float: left;
    font-size: 12px;
    color: #444;
    background: #f0f0f0;
    padding: 5px 15px 6px;
    cursor: pointer;
}
.discovery-content-badges > .badge:not([hidden]) ~ .badge:not([hidden]) {
    border-left: 1px solid #ddd;
}
.discovery-content-badges > .badge:hover {
    color: black;
    background: #e0e0e0;
}

.discovery[data-dzen] .discovery-sidebar,
.discovery[data-dzen] .discovery-content-badges {
    display: none;
}

.discovery[data-compact] .discovery-content,
.discovery[data-compact] .page {
    padding: 0;
}
