.discovery-inspect-details-popup .content {
    overflow: hidden; /* use auto only when popup is frozen to avoid flicking scrollbars */
    background-color: var(--discovery-mate-background);
    font-size: 12px;
    line-height: 14px;
}
.discovery-inspect-details-popup.frozen .content {
    overflow: auto; /* use auto only when popup is frozen to avoid flicking scrollbars */
}
.discovery-inspect-details-popup .content .view-struct {
    overflow: visible;
    background-color: transparent;
}
.discovery-inspect-details-popup .content .view-source {
    font-size: 11px;
    line-height: 15px;
    background-color: transparent;
    /* background-color: #25252585; */
}

.discovery-inspect-details-popup .content.props-config {
    grid-area: props-config;
}
.discovery-inspect-details-popup .content.data-context {
    grid-area: data-context;
}

.discovery-inspect-details-popup .content-section::before {
    content: var(--header);
    display: inline-block;
    padding: 8px 10px 2px 1px;
    margin-left: 7px;
    text-transform: uppercase;
    font-size: 10px;
    color: #444;
    border-bottom: 2px solid #ddd;
}
.discovery-root-darkmode .discovery-inspect-details-popup .content-section::before {
    color: inherit;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    border-bottom: 2px solid #666;
}
.discovery-inspect-details-popup .content-section.skip {
    --header: 'Not rendered reason';
}
.discovery-inspect-details-popup .content-section.skip .view-block {
    padding: 6px 0 8px 6px;
    font-size: 14px;
}
.discovery-inspect-details-popup .content-section.render {
    --header: 'Render function';
}
.discovery-inspect-details-popup .content-section.props {
    --header: 'Render props';
}
.discovery-inspect-details-popup .content-section.config {
    --header: 'Config';
}
.discovery-inspect-details-popup .content-section.config > .view-tree {
    margin-left: 6px;
}
.discovery-inspect-details-popup .content-section.config .view-tree-leaf-content > .view-struct {
    margin: -4px 0 -4px -4px;
}
.discovery-inspect-details-popup .content-section.data {
    --header: 'Data';
}
.discovery-inspect-details-popup .content-section.data .data-flow-transitions {
    display: flex;
    flex-direction: column-reverse;
}
.discovery-inspect-details-popup .content-section.data .data-flow-transitions > .more-buttons {
    margin-top: 0;
    padding: 6px 0 0 8px;
    margin-bottom: -4px;
}
.discovery-inspect-details-popup .content-section.data .data-flow-transitions > .more-buttons .more-button {
    padding-top: 2px;
    padding-bottom: 2px;
}
.discovery-inspect-details-popup .content-section.data .root-data {
    padding: 6px 0 0 8px;
    pointer-events: none;
    margin-bottom: -6px;
}
.discovery-inspect-details-popup .content-section.data .root-data .view-badge {
    padding: 2px 8px;
    font-size: 9px;
    text-transform: uppercase;
}
.discovery-inspect-details-popup .content-section.data .data-flow-transition {
    position: relative;
    padding: 12px 0 0 4px;
    margin: -4px 0 -2px 11px;
    border-left: 1px solid #888;
}
/* .discovery-inspect-details-popup .content-section.data .data-flow-transition .ttt {
    display: inline-block;
    padding: 2px;
    border: 1px solid red;
} */
.discovery-inspect-details-popup .content-section.data .data-flow-transition > .view-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 4px;
    background: #3a4955;
    font-size: 10px;
    opacity: .75;
}
.discovery-inspect-details-popup .content-section.data .data-flow-transition::before {
    content: '';
    position: absolute;
    left: -4px;
    bottom: -2px;
    width: 7px;
    height: 7px;
    border: 3.5px solid transparent;
    border-bottom: none;
    border-top: 7px solid #888;
    box-sizing: border-box;
}
.discovery-inspect-details-popup .content-section.context {
    --header: 'Context';
}

