/********************************
* Tabs
********************************/

.page-report > .report-editor .report-editor-tabs {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.page-report > .report-editor .data-query-result::before,
.page-report > .report-editor .report-editor-tabs::before {
    padding: 3px 4px;
    width: 40px;
    text-align: right;
    box-sizing: border-box;
    font-size: 11px;
    color: rgba(141, 141, 141, 0.75);
}
.page-report > .report-editor .report-editor-tab {
    display: inline-block;
    margin: 0 1px 1px 0;
    padding: 2px 12px;
    background: rgba(200, 200, 200, 0.2);
    font-size: 12px;
    cursor: pointer;
}
.page-report > .report-editor .report-editor-tab.active {
    padding-bottom: 3px;
    margin-bottom: 0;
    background: rgba(140, 205, 245, 0.2);
    cursor: default;
}
.page-report > .report-editor .report-editor-tab:not(.active):hover {
    background: rgba(187, 187, 187, 0.4);
}
.page-report > .report-editor .report-editor-tab:first-child {
    border-top-left-radius: 4px;
}
.page-report > .report-editor .report-editor-tab.active:first-child {
    border-bottom-left-radius: 4px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}
.page-report > .report-editor .report-editor-tab:last-child {
    border-top-right-radius: 4px;
}
.page-report > .report-editor .report-editor-tab:not(.active):last-child {
    border-bottom-right-radius: 4px;
}

/********************************
* Editor
********************************/

.page-report > .report-editor .editor-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.page-report > .report-editor .editor-toolbar label {
    padding: 4px;
    margin: 0 1ex;
    white-space: nowrap;
}
.page-report > .report-editor .editor-toolbar .syntax-hint {
    padding-left: 10px;
    flex: 1;
    color: rgba(141, 141, 141, 0.75);
    font-size: 12px;
}

.page-report > .report-editor .discovery-editor-error {
    border-bottom: 1px solid rgba(255, 0, 0, .6);
    background: rgba(255, 215, 209, 0.3);
}

.page-report > .report-editor textarea {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    min-height: 9em;
    font-family: Consolas, Monaco, monospace;
    font-size: 12px;
    line-height: 18px; 
    border-color: #aaa;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(142, 142, 142, .2);
    resize: vertical;
}
.page-report > .report-editor textarea:focus {
    border-color: #0af;
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, .2), inset 0 1px 1px rgba(142, 142, 142, .2) !important;
    outline: 0;
}
