.page-report > .report-block.view.editable > .report-block-content {
    padding: 12px 0 8px;
}

.page-report > .report-block.view > .report-block-header .presets {
    margin-left: 6ex;
    display: flex;
    border-right: 1px solid white;
}
.page-report > .report-block.view > .report-block-header .presets::before {
    content: 'Presets:';
    padding: 4px 2px;
    color: #aaa;
}

.page-report > .report-block.view > .report-block-header .presets .tab {
    padding: 4px 8px;
    border-left: 1px solid white;
    background-color: #e8e8e8;
    color: #666;
    cursor: pointer;
}
.page-report > .report-block.view > .report-block-header .presets .tab:hover {
    background-color: #ddeed0;
}

.discovery[data-dzen] .page-report > .report-block.view > .report-block-editor {
    display: none;
}
