.page-report > .report-editor .data-query-result {
    margin: 1em 0 1em calc(-1 * var(--discovery-page-padding-left));
}
.page-report > .report-editor .data-query-result > * {
    overflow: hidden;
}
.page-report > .report-editor .data-query-result::before {
    float: left;
    content: 'Data:';
}
