/********************************
* Editor
********************************/

.page-report > .report-block > .report-block-editor .discovery-editor {
    background: white;
}
.page-report > .report-block > .report-block-editor .CodeMirror {
    border-radius: 0;
    margin-bottom: 0;
    border-color: #ddd;
    /* background: #f2f2f2; */
    box-shadow: inset 0 0 0 2px #f8f8f8;
}
.page-report > .report-block > .report-block-editor .CodeMirror-focused {
    border-color: #0af;
    box-shadow: inset 0 0 1px 2px rgba(0, 170, 255, .2), inset 0 1px 1px rgba(142, 142, 142, .2) !important;
    outline: 0;
}
.page-report > .report-block > .report-block-editor .CodeMirror-sizer {
    border-right-width: 200px !important;
}

/********************************
* Editor toolbar
********************************/

.page-report > .report-block > .report-block-editor .editor-toolbar {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 10;
    opacity: .8;
}
.page-report > .report-block > .report-block-editor .perform-button {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px 7px;
    border-radius: 3px;
    background-color: #00aaff;
    color: white;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
}
.page-report > .report-block > .report-block-editor .perform-button:hover {
    background-color: #009cf0;
}
.page-report > .report-block > .report-block-editor .perform-button.disabled {
    display: none;
}
.page-report > .report-block > .report-block-editor .toggle-button {
    display: inline-block;
    margin-left: 2px;
    width: 16px;
    height: 15px;
    padding: 4px;
    background: no-repeat 5px 4px;
    background-size: 16px;
    background-color: #f4f4f4;
    border-radius: 3px;
    cursor: pointer;
}
.page-report > .report-block > .report-block-editor .toggle-button.disabled {
    opacity: .4;
    background-color: transparent;
}
.page-report > .report-block > .report-block-editor .toggle-button:hover {
    background-color: #ddd;
}
.page-report > .report-block > .report-block-editor .live-update-button {
    background-image: url('./img/live-update.svg');
    background-size: 15px;
}
.page-report > .report-block > .report-block-editor .suggestions-button {
    background-image: url('./img/suggestions.svg');
    background-size: 14px;
}
.page-report > .report-block > .report-block-editor .formatting-button {
    background-image: url('./img/formatting.svg');
    background-size: 14px;
}
