.page-report > .report-block.view > .report-block-editor {
    padding-bottom: 12px;
}

.page-report > .report-block.view > .report-block-editor .report-editor-tabs.presets {
    margin-left: 3ex;
}
.page-report > .report-block.view > .report-block-editor .report-editor-tabs.presets::before {
    content: 'Presets:'
}
.page-report > .report-block.view > .report-block-editor .report-editor-tabs.presets .tab:first-child {
    border-bottom-left-radius: 4px;
}

.page-report > .report-block.view > .report-block-editor .view-list-hint {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    color: #aaa;
}
.page-report > .report-block.view > .report-block-editor .view-list-hint span {
    text-decoration: underline;
    cursor: pointer;
}

.discovery[data-dzen] .page-report > .report-block.view > .report-block-editor {
    display: none;
}
