/********************************
* Tabs
********************************/

.page-report > .report-block > .report-block-editor .report-editor-tabs {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.page-report > .report-block > .report-block-content::before,
.page-report > .report-block > .report-block-editor .report-editor-tabs::before {
    padding: 3px 4px;
    width: 40px;
    text-align: right;
    box-sizing: border-box;
    font-size: 11px;
    color: #aaa;
}
.page-report > .report-block > .report-block-editor .report-editor-tab {
    display: inline-block;
    margin: 0 1px 1px 0;
    padding: 2px 12px;
    background: #f4f4f4;
    font-size: 12px;
    cursor: pointer;
}
.page-report > .report-block > .report-block-editor .report-editor-tab.active {
    padding-bottom: 3px;
    margin-bottom: 0;
    background: #d9e7ef;
    cursor: default;
}
.page-report > .report-block > .report-block-editor .report-editor-tab:not(.active):hover {
    background: #e4e4e4;
}
.page-report > .report-block > .report-block-editor .report-editor-tab:first-child {
    border-top-left-radius: 4px;
}
.page-report > .report-block > .report-block-editor .report-editor-tab.active:first-child {
    border-bottom-left-radius: 4px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}
.page-report > .report-block > .report-block-editor .report-editor-tab:last-child {
    border-top-right-radius: 4px;
}
.page-report > .report-block > .report-block-editor .report-editor-tab:not(.active):last-child {
    border-bottom-right-radius: 4px;
}

/********************************
* Editor
********************************/

.page-report > .report-block > .report-block-editor .editor-toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 1px;
    border: 1px solid #ddd;
    border-top: none;
}
.page-report > .report-block > .report-block-editor .editor-toolbar > * {
    font-size: 11px;
    line-height: 1;
    padding: 4px 12px 5px;
}
.page-report > .report-block > .report-block-editor .editor-toolbar > :first-child {
    background: #fbfbfb;
}
.page-report > .report-block > .report-block-editor .editor-toolbar .checkbox {
    position: relative;
    white-space: nowrap;
    background: #fbfbfb;
    margin: 0 1px;
    cursor: pointer;
}
.page-report > .report-block > .report-block-editor .editor-toolbar .checkbox:hover {
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(0,0,0,.05));
}
.page-report > .report-block > .report-block-editor .editor-toolbar .checkbox:focus-within {
    box-shadow: inset 0 0 1px 3px rgba(0, 170, 255, 0.35);
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(0,0,0,.05));
}
.page-report > .report-block > .report-block-editor .editor-toolbar input[type=checkbox] {
    margin: 0;
    outline: none;
    cursor: pointer;
}
.page-report > .report-block > .report-block-editor .editor-toolbar .view-button {
    border-radius: 0;
    width: 12ex;
}
.page-report > .report-block > .report-block-editor .editor-toolbar .syntax-hint {
    padding-left: 10px;
    flex: 1;
    color: #aaa;
}

.page-report > .report-block > .report-block-editor .discovery-editor {
    background: white;
}
.page-report > .report-block > .report-block-editor .CodeMirror {
    border-radius: 0;
    margin-bottom: 0;
    border-color: #ddd;
    border-bottom: 1px solid #e4e4e4;
    /* background: #f2f2f2; */
    /* box-shadow: none; */
}
.page-report > .report-block > .report-block-editor .CodeMirror-focused {
    border-color: #0af;
    box-shadow: inset 0 0 1px 2px rgba(0, 170, 255, .2), inset 0 1px 1px rgba(142, 142, 142, .2) !important;
    outline: 0;
}
