.page-report > .report-header {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
    position: sticky;
    top: -22px;
    z-index: 100;
    padding: 22px 40px 7px;
    margin: 0 -40px 18px;
    background-color: rgba(255, 255, 255, .92);
    transition-property: background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in;
}
.discovery[data-darkmode] .page-report > .report-header {
    background-color: rgba(36, 36, 36, .92);
}
@supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    .page-report > .report-header {
        background-color: rgba(255, 255, 255, .8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .discovery[data-darkmode] .page-report > .report-header {
        background-color: rgba(36, 36, 36, .8);
    }
}

/********************************
* Header text
********************************/

.page-report > .report-header .report-header-text {
    flex: 1;
    position: relative;
    font-size: 220%;
}
.page-report > .report-header .report-header-text::before {
    content: attr(data-title);
}
.page-report > .report-header .report-header-text input {
    font: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: -1px;
    padding: 0;
    opacity: .0001;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(142, 142, 142, .2);
    background-color: rgba(255, 255, 255, .3);
}
.page-report > .report-header .report-header-text input:hover,
.page-report > .report-header .report-header-text input:focus {
    opacity: 1;
}
.page-report > .report-header .report-header-text input:focus {
    border-color: #0af;
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, .2), inset 0 1px 1px rgba(142, 142, 142, .2) !important;
    outline: 0;
}
.page-report > .report-header .report-header-text .timestamp {
    display: block;
    font-size: 10px;
    color: rgba(153, 153, 153, 0.5);
    margin-top: 4px;
}

/********************************
* Buttons
********************************/

.page-report > .report-header .report-actions {
    margin-left: 10px;
    margin-top: -3px;
}
.page-report > .report-header button {
    width: 42px;
    height: 42px;
    background: center no-repeat;
    border-radius: 5px;
    border: none;
    text-indent: -500px;
    overflow: hidden;
    cursor: pointer;
    opacity: .5;
    outline: none;
}
.page-report > .report-header button.discovery-view-popup-active,
.page-report > .report-header button:hover,
.page-report > .report-header button:focus {
    background-color: rgba(0, 0, 0, .03125);
    opacity: 1;
}
.page-report > .report-header button.toggle-fullscreen {
    background-image: url(./img/fullscreen-on.svg);
    background-size: 25px;
}
.page-report > .report-header button.edit-mode {
    background-image: url(./img/edit.svg);
    background-size: 20px;
}
.page-report > .report-header button.edit-mode:not(.disabled) {
    opacity: 1;
}
.page-report > .report-header button.edit-mode.disabled {
    filter: grayscale();
}
.page-report > .report-header button.share {
    background-image: url(./img/share.svg);
    background-size: 25px;
}

/********************************
* Dzen mode
********************************/

.discovery[data-dzen] .page-report > .report-header button.toggle-fullscreen {
    background-image: url(./img/fullscreen-off.svg);
}
.discovery[data-dzen] .page-report > .report-header button.edit-mode,
.discovery[data-dzen] .page-report > .report-header .report-header-text input {
    display: none;
}
