.view-badge,
.view-pill-badge {
    --discovery-view-badge-color: rgba(135, 135, 135, 0.2);
    --discovery-view-badge-text-color: var(--discovery-color);
    padding: 1px 6px 3px;
    margin-right: 1ex;
    text-shadow: 1px 1px rgba(255, 255, 255, .35);
    background: var(--discovery-view-badge-color);
    color: var(--discovery-view-badge-text-color);
    border-radius: 3px;
    font-size: 85%;
    text-decoration: none;
    white-space: nowrap;
}
.view-pill-badge {
    border-radius: 9px;
}
.discovery-root-darkmode .view-badge,
.discovery-root-darkmode .view-pill-badge {
    background: var(--discovery-view-badge-dark-color, var(--discovery-view-badge-color));
    color: var(--discovery-view-badge-dark-text-color, var(--discovery-view-badge-text-color));
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
}

.view-badge[href]:hover,
.view-pill-badge[href]:hover {
    color: var(--discovery-color);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.view-badge > .prefix {
    padding: 1px 6px 3px;
    margin: -1px 6px -3px -6px;
    border-radius: 3px 0 0 3px;
    background-color: rgba(0, 0, 0, .12);
}
.view-badge > .postfix {
    padding: 1px 6px 3px;
    margin: -1px -6px -3px 6px;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, .12);
}
.view-pill-badge > .prefix {
    padding: 1px 6px 3px;
    margin: -1px 6px -3px -6px;
    border-radius: 8px 0 0 8px;
    background-color: rgba(0, 0, 0, .12);
}
.view-pill-badge > .postfix {
    padding: 1px 6px 3px;
    margin: -1px -6px -3px 6px;
    border-radius: 0 8px 8px 0;
    background-color: rgba(0, 0, 0, .12);
}

.discovery-buildin-view-tooltip .view-badge,
.discovery-buildin-view-tooltip .view-pill-badge {
    display: inline-block;
    margin: 0 0 3px -5px;
    padding-top: 0;
    padding-bottom: 1px;
    line-height: 19px;
}
