.view-image-preview {
    --image-preview-bg-color: rgba(119, 119, 119, 0.125);
    display: flex;
    justify-content: center;
    padding: 16px;
    background-image: repeating-conic-gradient(transparent 0% 25%, var(--image-preview-bg-color) 0% 50%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    background-attachment: fixed;
}

.view-image-preview .view-image {
    /* background-color: transparent; */
    opacity: 1;
}
