.view-indicator {
    display: inline-flex;
    margin: 0 1px 1px 0;
    width: 150px;
    height: 100px;
    background: rgba(181, 181, 181, 0.15);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.view-indicator[href]:hover {
    background: rgba(165, 165, 165, 0.3);
}

.view-indicator > .value {
    color: #666;
    font-size: 40px;
    line-height: 1.2;
}
.view-indicator[href] > .value {
    color: #1f7ec5;
}
.view-indicator > .label {
    font-size: 14px;
    color: #888;
    box-sizing: border-box;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
