.view-struct .struct-action-button {
    vertical-align: middle;
    margin-left: 2px;
    padding: 1px 4px;
    color: rgba(170, 170, 170, 0.4);
    background: rgba(195, 195, 195, 0.05);
    border: 1px solid rgba(141, 141, 141, 0.15);
    border-radius: 3px;
    font-size: 8px;
    cursor: pointer;
}
.discovery[data-darkmode] .view-struct .struct-action-button {
    --discovery-view-struct-hover-color: #aaa;
    --discovery-view-struct-toggle-color: #72b372;
}
.view-struct .struct-action-button:hover,
.view-struct .discovery-view-popup-active {
    color: var(--discovery-view-struct-hover-color, #333);
    background: rgba(187, 187, 187, 0.25);
    border-color: rgba(137, 137, 137, 0.4);
}
.view-struct .sort-keys > .struct-action-button[data-action="toggle-sort-keys"],
.view-struct .string-value-as-text > .struct-action-button[data-action="toggle-string-mode"] {
    color: var(--discovery-view-struct-toggle-color, #686);
    background: rgba(151, 223, 151, 0.25);
    border-color: rgba(137, 177, 137, 0.4);
}
.view-struct .struct-action-button[data-action="show-signature"] {
    cursor: default;
}
@media (hover:none), (hover:on-demand) { 
    .view-struct .struct-action-button {
        padding: 3px 20px 3px;
        color: #333;
        background: white;
        border-color: #e0e0e0;
    }
    .view-struct .struct-action-button[data-action="show-signature"] {
        cursor: pointer;
    }    
}
/* FIXME: temporary, until multiple popups support */
.discovery-view-popup .view-struct .struct-action-button[data-action="show-signature"] {
    display: none;
}
.view-struct .struct-action-button[data-action="collapse"]::before {
    content: "–";
}
.view-struct .struct-action-button[data-action="show-signature"]::before {
    content: "𝕊";
}
.view-struct .struct-action-button[data-action="value-actions"]::before {
    content: "ƒ";
}
.view-struct .struct-action-button[data-action="toggle-sort-keys"]::before {
    content: "keys ↓";
}
.view-struct .struct-action-button[data-action="toggle-string-mode"]::before {
    content: "as text";
}

.discovery-view-popup.view-struct-actions-popup .notes {
    display: inline;
    color: #666;
}
.discovery-view-popup.view-struct-actions-popup .notes::before {
    content: ' ';
}
