.view-struct .value-annotation.before {
    display: inline-block;
    font-size: 11px;
    color: #dea92c;
}
.view-struct .value-annotation.before + .value {
    margin-left: 4px;
}
.view-struct .value-annotation.after {
    display: inline-block;
    margin-left: 2ex;
    /* color: #dea92c; */
    color: #aaa;
    background: linear-gradient(to right, white, transparent);
    padding: 0 4px;
    border-left: 1px solid;
    font-size: 10px;
    line-height: 14px;
    border-radius: 4px;
}
.view-struct .value-annotation + .value-annotation {
    margin-left: 2px;
}
.view-struct .value-annotation.icon::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 16px;
    width: 16px;
    background: var(--annotation-image, ) var(--annotation-image-position, 50% center) no-repeat;
    background-size: var(--annotation-image-size, 16px);
}
.view-struct .value-annotation.icon.has-text::before {
    margin-right: var(--annotation-image-margin, 4px);
}
.view-struct .value-annotation.marker {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 4px 1px;
    text-decoration: none;
    background: #f0f0f0;
    color: #999;
    font-size: 10px;
    line-height: 14px;
    border-radius: 3px;
    user-select: none;
}
.view-struct .value-annotation.marker[href] {
    background: #dfeffb;
}
.view-struct .value-annotation.marker[href]:hover {
    text-decoration: underline;
    color: #89a0bd;
}
