.view-struct .value-annotation {
    display: inline-block;
    color: #aaa;
    font-size: 10px;
    line-height: 14px;
    border-radius: 3px;
}
.view-struct .value-annotation + .value-annotation {
    margin-left: 4px;
}
.view-struct .value-annotation[href]:focus-visible {
    outline: none;
    background-color: rgba(187, 187, 187, 0.25);
    box-shadow: 0 0 0 3px rgba(187, 187, 187, 0.25);
}

.view-struct .value-annotation.icon::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 14px;
    width: 14px;
    background: var(--annotation-image, ) var(--annotation-image-position, 50% center) no-repeat;
    background-size: var(--annotation-image-size, 14px);
}
.view-struct .value-annotation.icon.has-text::before {
    margin-right: var(--annotation-image-margin, 2px);
}

.view-struct .value-annotation.before + .value {
    margin-left: 4px;
}
.view-struct .value-annotations {
    margin-left: 6px;
}
.view-struct .value + .value-annotations {
    margin-left: 1.5ex;
}

.view-struct .value-annotation.style-default {
    --annotation-bg-gradient-from: white;
    --annotation-bg-gradient-to: rgba(255, 255, 255, 0);
    padding: 1px 4px 0;
    border-radius: 4px;
}
.discovery-root-darkmode .view-struct .value-annotation.style-default {
    --annotation-bg-gradient-from: rgba(33, 33, 33, .5);
    --annotation-bg-gradient-to: rgba(33, 33, 33, 0);
}
.view-struct .value-annotation.before.style-default {
    background: linear-gradient(to left, var(--annotation-bg-gradient-from), var(--annotation-bg-gradient-to));
    border-right: 1px solid;    
}
.view-struct .value-annotation.after.style-default {
    background: linear-gradient(to right, var(--annotation-bg-gradient-from), var(--annotation-bg-gradient-to));
    border-left: 1px solid;
}

.view-struct .value-annotation.style-badge {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 4px 1px;
    text-decoration: none;
    background: rgba(155, 155, 155, 0.15);
    color: #999;
    font-size: 10px;
    line-height: 14px;
    border-radius: 3px;
    user-select: none;
}
.view-struct .value-annotation.style-badge[href] {
    background: rgba(55, 155, 230, 0.16);
}
.view-struct .value-annotation.style-badge[href]:hover {
    color: #89a0bd;
    text-decoration: underline;
    text-decoration-color: #89a0bd88;
}
