@import url('./structure.css');
@import url('./action-button.css');
@import url('./annotation.css');

.view-struct {
    position: relative;
    margin: 1px 0;
    padding: 7px 8px;
    overflow: auto;
    font-family: var(--discovery-monospace-font-family);
    font-size: 12px;
    line-height: 18px;
    background-color: rgba(205, 205, 205, 0.1);
    color: var(--discovery-fmt-color);
    white-space: nowrap;
}
.view-struct.struct-expand {
    cursor: pointer;
}
.view-struct .struct-expand-value {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap !important;
    border-radius: 4px;
    cursor: pointer;
}
.view-struct.struct-expand:hover,
.view-struct.struct-expanded-value .struct-expand-value:hover {
    color: var(--discovery-fmt-hover-color);
    background-color: rgba(187, 187, 187, 0.25);
}
.view-struct.struct-expanded-value,
.view-struct .struct-expanded-value {
    background-image: linear-gradient(to bottom, rgba(187, 187, 187, 0.15), rgba(187, 187, 187, 0.15));
    background-size: 1px calc(100% - 36px);
    background-position: 3px 18px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-origin: content-box;
}

.discovery-view-popup.view-struct-actions-popup .error {
    font-size: 11px;
    color: rgba(214, 31, 31, 77%);
    text-shadow: 0.2px 0px 0.3px rgba(255, 255, 255, .8);
}
.discovery-root-darkmode .discovery-view-popup.view-struct-actions-popup .error {
    color: #e66;
    text-shadow: none;
}

.discovery-view-popup.view-struct-actions-popup .num-delim {
    padding-left: 3px;
}
