.view-struct .entry-line {
    white-space: nowrap;
    padding-left: 4ch;
}
.view-struct .label {
    float: left;
    margin-left: -4ch;
}
.view-struct .property {
    color: var(--discovery-fmt-property-color);
}
.view-struct .value {
    white-space: normal;
    vertical-align: top;
}
.view-struct .keyword {
    color: var(--discovery-fmt-keyword-color);
}
.view-struct .number {
    color: var(--discovery-fmt-number-color);
}
.view-struct .num-delim {
    padding-left: 3px;
}
.view-struct .string,
.view-struct .string a {
    color: var(--discovery-fmt-string-color);
    text-decoration-color: var(--discovery-fmt-string-underline-color);
    white-space: pre;
}
.view-struct .string a:hover {
    color: var(--discovery-fmt-string-hover-color);
    text-decoration-color: currentColor;
}
.view-struct .value-size,
.view-struct .string-length {
    padding-left: 6px;
    color: rgba(153, 153, 153, 0.5);
    font-size: 9px;
    line-height: 11px;
    vertical-align: text-bottom;
}
.view-struct .string-text-wrapper {
    display: block;
    padding: 4px 4px 4px 5.5ex;
}
.view-struct .string-text {
    display: inline;
    white-space: pre-wrap;
    box-shadow: 0 0 0 2px var(--discovery-fmt-string-highlight-color);
    background: var(--discovery-fmt-string-highlight-color);
    color: var(--discovery-fmt-string-color);
}
.view-struct .string-value-as-text .string-text {
    display: block;
    white-space: pre-wrap;
    box-shadow: 0 0 0 2px rgba(145, 145, 145, 0.1);
    background: rgba(145, 145, 145, 0.1);
    color: var(--discovery-fmt-color);
}
.view-struct .more {
    color: rgba(127, 127, 127, 0.8);
    white-space: nowrap;
}
.view-struct .string .more {
    margin: 0 3px;
}
.view-struct .more-buttons {
    padding-left: 4ch;
}
