.view-struct .entry-line {
    white-space: nowrap;
    padding-left: 4ch;
}
.view-struct .label {
    float: left;
    margin-left: -4ch;
}
.view-struct .property {
    color: #bd6476;
}
.view-struct .value {
    white-space: normal;
    vertical-align: top;
}
.view-struct .keyword,
.view-struct .number {
    color: #07a;
}
.view-struct .num-delim {
    padding-left: 3px;
}
.view-struct .string,
.view-struct .string a {
    color: #690;
    text-decoration-color: #bfd3a3;
    white-space: pre;
}
.view-struct .string a:hover {
    color: #527a00;
    text-decoration-color: currentColor;
}
.view-struct .value-size,
.view-struct .string-length {
    padding-left: 6px;
    color: #ccc;
    font-size: 9px;
    line-height: 11px;
    vertical-align: text-bottom;
}
.view-struct .string-text-wrapper {
    display: block;
    padding: 4px 4px 4px 5.5ex;
}
.view-struct .string-text {
    display: inline;
    white-space: pre-wrap;
    box-shadow: 0 0 0 3px #e9f6e8;
    background: #e9f6e8;
    color: #690;
}
.view-struct .string-value-as-text .string-text {
    display: block;
    white-space: pre-wrap;
    box-shadow: 0 0 0 3px #f4f4f4;
    background: #f4f4f4;
    color: #666;
}
.view-struct .more {
    color: #999;
    white-space: nowrap;
}
.view-struct .string .more {
    margin: 0 3px;
}
.view-struct .more-buttons {
    padding-left: 4ch;
    display: block;
}
