.view-struct .entry-line {
    white-space: nowrap;
    padding-left: 4ch;
}
.view-struct .label {
    float: left;
    margin-left: -4ch;
}
.view-struct .property {
    color: var(--discovery-fmt-property-color);
}
.view-struct .value {
    white-space: normal;
    vertical-align: top;
}
.view-struct .keyword {
    color: var(--discovery-fmt-atom-color);
}
.view-struct .value > .number {
    color: var(--discovery-fmt-number-color);
}
.view-struct .value > .number .num-delim {
    padding-left: 3px;
}
.view-struct .value > .string,
.view-struct .value > .string a {
    color: var(--discovery-fmt-string-color);
    text-decoration-color: var(--discovery-fmt-string-underline-color);
    white-space: pre;
}
.view-struct .value > .string a:hover {
    color: var(--discovery-fmt-string-hover-color);
    text-decoration-color: currentColor;
}
.view-struct .value > .regexp {
    color: var(--discovery-fmt-string-color);
    white-space: pre;
}
.view-struct .value-size,
.view-struct .string-length {
    padding-left: 6px;
    color: rgba(153, 153, 153, 0.5);
    font-size: 11px;
    line-height: 14px;
    vertical-align: text-top;
}
.view-struct .value-size:hover,
.view-struct .string-length:hover {
    color: inherit;
}
.view-struct .value-size > .num-delim,
.view-struct .string-length > .num-delim {
    padding-left: 2px;
}
.view-struct .string-text-wrapper {
    display: block;
    padding: 4px 4px 4px 5.5ex;
}
.view-struct .string-text {
    display: inline;
    white-space: pre-wrap;
    box-shadow: 0 0 0 2px var(--discovery-fmt-string-highlight-color);
    background: var(--discovery-fmt-string-highlight-color);
    color: var(--discovery-fmt-string-color);
}
.view-struct .string-value-as-text .string-text {
    display: block;
    white-space: pre-wrap;
    box-shadow: 0 0 0 2px rgba(145, 145, 145, 0.1);
    background: rgba(145, 145, 145, 0.1);
    color: var(--discovery-fmt-color);
}
.view-struct .view-as-table > .entry-line,
.view-struct .view-as-table > .more-buttons {
    display: none;
}
.view-struct .more {
    color: rgba(127, 127, 127, 0.8);
    white-space: nowrap;
}
.view-struct .more > .num-delim {
    padding-left: 2px;
}
.view-struct .string > .more {
    margin: 0 3px;
}
.view-struct .value > .more-buttons {
    padding-left: 4ch;
}

.view-struct .value > .view-table {
    margin-top: 2px;
    margin-left: 4ch;
    margin-right: 4px;
    padding: 0 1px 1px;
    font-family: var(--discovery-font-family);
    background-color: var(--discovery-background-color);
    color: var(--discovery-color);
}
.view-struct .value > .view-table .more-buttons {
    margin: 2px 5px 4px;
}
