.discovery-view-usage .usage-render {
    position: relative;
    z-index: 0;
    margin: 0 -20px 10px;
    padding: 20px;
    border: solid rgba(170, 170, 170, 0.2);
    border-width: 1px 0;
}
.discovery-view-usage .usage-section > .view-h2 {
    margin-top: 1.2em;
    margin-bottom: .5em;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-buttons {
    margin-left: 5px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tab:first-child {
    margin-left: -10px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content {
    margin-top: -1px;
    overflow: visible;
    border: 1px solid rgba(170, 170, 170, 0.4);
    padding: 2px;
}
.discovery-view-usage .view-tabs.usage-sources .view-source {
    background: rgba(155, 155, 155, 0.1);
}
.discovery-view-usage .view-tabs.usage-sources .view-source.first-tab {
    border-top-left-radius: 0;
}
