.discovery-view-usage {
    margin-top: 20px;
}
.discovery-view-usage  > .view-header:first-child {
    margin-top: 0;
}
.discovery-view-usage .usage-render {
    position: relative;
    z-index: 0;
    margin: 15px 0 10px;
    padding: 30px 16px 16px;
    border: solid rgba(170, 170, 170, 0.2);
    border-width: 2px;
    border-radius: 3px;
}
.discovery-view-usage .usage-render.demo-fixed {
    --image-preview-bg-color: rgba(119, 119, 119, 0.125);
    margin-top: 29px; 
    padding:
        var(--discovery-page-padding-top)
        var(--discovery-page-padding-right)
        var(--discovery-page-padding-bottom)
        var(--discovery-page-padding-left);
    border-top-left-radius: 0;
    background-clip: padding-box;
    background-image:
        linear-gradient(45deg, var(--image-preview-bg-color) 25%, transparent 0, transparent 75%, var(--image-preview-bg-color) 75%),
        linear-gradient(45deg, var(--image-preview-bg-color) 25%, transparent 0, transparent 75%, var(--image-preview-bg-color) 75%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
.discovery-view-usage .usage-render::before {
    content: 'DEMO';
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 24px 3px 24px;
    font-size: 9px;
    line-height: 1;
    background-color: rgba(170, 170, 170, 0.2);
    border-bottom-right-radius: 4px;
}
.discovery-view-usage .usage-render.demo-fixed::before {
    top: -16px;
    left: -2px;
    padding-left: 26px;
    border-radius: 4px 4px 0 0;
}
.discovery-view-usage .usage-section > .view-h2 {
    margin-top: 1.2em;
    margin-bottom: .5em;
}
.discovery-view-usage .usage-section > .view-h2 .view-header__anchor {
    scroll-margin: .5em;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-buttons::before {
    display: none;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content {
    overflow: visible;
    border: 1px solid rgba(170, 170, 170, 0.4);
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 2px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content .view-expand {
    margin-bottom: 1px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content .view-expand > .header {
    --discovery-view-expand-trigger-size: 32px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content .view-expand .view-struct.struct-expand {
    padding-left: 28px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content .view-expand .view-struct:not(.struct-expand) {
    border-left: 20px solid rgba(205,205,205,.1);
}
.discovery-view-usage .view-tabs.usage-sources .view-source {
    background: rgba(155, 155, 155, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.discovery-view-usage .view-tabs.usage-sources .view-source.first-tab {
    border-top-left-radius: 0;
}
.discovery-view-usage .view-tabs.usage-sources .view-source .spotlight {
    padding: 3px 2px 2px;
    margin: 0 -2px;
}
.discovery-root-darkmode .discovery-view-usage .view-tabs.usage-sources .view-source .spotlight {
    background: #92926654;
    color: #b6aa6a;
}
