.discovery-view-usage .usage-render {
    position: relative;
    z-index: 0;
    margin: 0 -20px 10px;
    padding: 20px;
    border: solid #eee;
    border-width: 1px 0;
}
.discovery-view-usage .usage-section > .view-h2 {
    margin-top: 1.2em;
    margin-bottom: .5em;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-buttons {
    margin-left: 5px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tab:first-child {
    margin-left: -10px;
}
.discovery-view-usage .view-tabs.usage-sources .view-tabs-content {
    overflow: visible;
}
.discovery-view-usage .view-tabs.usage-sources .view-source {
    margin-top: -1px;
    border: 1px solid #ddd;
    background: whitesmoke;
    box-shadow: 0 0 0 2px white inset;
}
.discovery-view-usage .view-tabs.usage-sources .view-source.first-tab {
    border-top-left-radius: 0;
}
