.view-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 12px;
    outline: none;
    margin: 0;
    
    border: 1px solid #ccc;
    border-radius: 3px;    
    background-color: white;
    color: black;
    
    font-family: inherit;
    font-size: inherit;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}
.view-button:empty::before {
    content: '|';
    width: 0;
    visibility: hidden;
}
.view-button:hover,
.view-button.discovery-view-popup-active {
    background-color: #f5f5f5;
    border-color: #cccccc;
}
.view-button:active {
    background-color: #e0e0e0;
}
.view-button:focus {
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, 0.2);
    z-index: 1;
}
.view-button[disabled] {
    opacity: .5;
    pointer-events: none;
    cursor: default;
}

.view-button-primary {
    background-color: #00aaff;
    border-color: rgba(0, 0, 0, .025);
    color: white;
}
.view-button-primary:hover,
.view-button-primary.discovery-view-popup-active {
    background-color: #009cf0;
}
.view-button-primary:active {
    background-color: #008ee0;
}

.view-button-danger {
    background-color: #ff6163;
    border-color: rgba(0, 0, 0, .025);
    color: white;
}
.view-button-danger:hover,
.view-button-danger.discovery-view-popup-active {
    background-color: #f05456;
}
.view-button-danger:active {
    background-color: #e34449;
}

.view-button-warning {
    background-color: #ffcf21;
    border-color: rgba(0, 0, 0, .025);
    color: rgba(0, 0, 0, .84);
}
.view-button-warning:hover,
.view-button-warning.discovery-view-popup-active {
    background-color: #fcbd00;
}
.view-button-warning:active {
    background-color: #f7ad00;
}
