.discovery-view-editor-hints-popup {
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;

    margin: 0;
    padding: 0;

    min-width: 200px;
    max-height: 20em;

    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    border-radius: 2px;
    border: 1px solid rgba(176, 176, 176, 0.65);

    background: white;
    color: black;

    font-family: var(--discovery-monospace-font-family);
    font-size: 12px;
    line-height: 18px;
}
.discovery-root-darkmode .discovery-view-editor-hints-popup {
    background: #323232;
    color: #ccc;
}

.discovery-view-editor-hint {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 2px 6px;
    white-space: pre;
    cursor: pointer;
}
.discovery-view-editor-hint:hover {
    background-color: rgba(180, 180, 180, 0.2);
}

.discovery-view-editor-hint .name {
    flex: 1;
}
.discovery-view-editor-hint .match {
    color: #06C;
}
.discovery-root-darkmode .discovery-view-editor-hints-popup .discovery-view-editor-hint .match {
    color: #4d8bca;
}

.discovery-view-editor-hint.active {
    background: rgba(0, 170, 255, .2);
}

.discovery-view-editor-hint::before {
    content: '?';
    display: inline-block;
    place-self: center;
    aspect-ratio: 1 / 1;
    height: 1em;
    margin-left: -2px;
    margin-right: 4px;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #888;
    font-size: 8px;
    line-height: 1;
    text-align: center;
}
.discovery-view-editor-hint.type-variable::before {
    content: '$';
}
.discovery-view-editor-hint.type-property::before {
    content: 'P';
}
.discovery-view-editor-hint.type-value::before {
    content: 'V';
}
.discovery-view-editor-hint.type-method::before {
    content: 'M';
}
