.discovery-view-editor-hints-popup {
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 0;

    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    border-radius: 2px;
    border: 1px solid rgba(176, 176, 176, 0.65);

    background: white;
    color: black;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;

    font-family: Consolas, Monaco, monospace;
    font-size: 12px;
    line-height: 18px;
}
.discovery-root-darkmode .discovery-view-editor-hints-popup {
    background: #323232;
    color: #ccc;
}

.discovery-view-editor-hint {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 2px 6px;
    white-space: pre;
    cursor: pointer;
}
.discovery-view-editor-hint:hover {
    background-color: rgba(180, 180, 180, 0.2);
}

.discovery-view-editor-hint .name {
    flex: 1;
}
.discovery-view-editor-hint .match {
    color: #06C;
}
.discovery-root-darkmode .discovery-view-editor-hints-popup .discovery-view-editor-hint .match {
    color: #4d8bca;
}
.discovery-view-editor-hint .type {
    color: rgba(153, 153, 153, 0.5);
    font-family: Tahoma;
    font-style: italic;
    font-size: 85%;
    padding: 0 .5ex 0 2ex;
}

.discovery-view-editor-hint.active {
    background: rgba(0, 170, 255, .2);
}

/* .CodeMirror-cursor .context-hint {
    display: none;
    position: absolute;
    margin-bottom: 1px;
    margin-left: -1px;
    bottom: 100%;
    visibility: visible;
    background: rgba(0, 0, 0, .7);
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
    color: white;
    padding: 1px 4px;
    font-family: Arial;
    font-size: 10px;
}
.CodeMirror-focused .CodeMirror-cursor .context-hint {
    display: block;
} */
