.view-list > .view-list-item > .view-expand {
    margin-bottom: 1px;
}
.view-expand + .view-expand {
    margin-top: 1px;
}
.view-list > .view-list-item:not(:last-child) > .view-expand.expanded {
    margin-bottom: 4px;
}
.view-expand.expanded + .view-expand {
    margin-top: 4px;
}
.view-expand > .header {
    display: flex;
    background: rgba(192, 192, 192, 0.175);
    font-size: 12px;
    cursor: pointer;
    margin-left: calc(var(--discovery-view-expand-trigger-size) + 1px);

    --discovery-view-expand-trigger-size: 22px;
}
.view-expand.trigger-outside > .header {
    margin-left: 0;
}
.view-expand > .header:hover {
    background: rgba(165, 165, 165, 0.3);
}
.view-expand > .header > .header-content {
    flex: 1;
    padding: 2px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}
.view-expand > .header > .trigger {
    order: -1;
    width: var(--discovery-view-expand-trigger-size, 20px);
    margin-left: calc(-1 * var(--discovery-view-expand-trigger-size) - 1px);
    text-align: center;
    background-color: inherit;
    background-image: linear-gradient(0deg, rgba(150, 150, 150, .15), rgba(150, 150, 150, .15));
}
.view-expand > .header > .trigger::before {
    background: url(expand.svg) no-repeat center;
    background-size: 12px;
    transition: transform .15s ease-in;
    width: 12px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-90deg);
    content: '';
}
.view-expand.expanded > .header > .trigger::before {
    transform: rotate(0deg);
}
