@import url('./controls/button.css');
@import url('./controls/checkbox-list.css');
@import url('./controls/checkbox.css');
@import url('./controls/content-filter.css');
@import url('./controls/dropdown.css');
@import url('./controls/input.css');
@import url('./controls/menu-item.css');
@import url('./controls/menu.css');
@import url('./controls/nav-button.css');
@import url('./controls/progress.css');
@import url('./controls/select.css');
@import url('./controls/tab.css');
@import url('./controls/tabs.css');
@import url('./controls/toggle-group.css');
@import url('./controls/toggle.css');

@import url('./editor/editors.css');

@import url('./layout/list-item.css');
@import url('./layout/lists.css');

@import url('./text/alerts.css');
@import url('./text/app-header.css');
@import url('./text/badges.css');
@import url('./text/headers.css');
@import url('./text/link.css');
@import url('./text/image.css');
@import url('./text/image-preview.css');
@import url('./text/indicator.css');
@import url('./text/markdown.css');
@import url('./text/source.css');
@import url('./text/text-match.css');
@import url('./text/text-numeric.css');
@import url('./text-render.css');

@import url('./layout/column.css');
@import url('./layout/columns.css');
@import url('./layout/expand.css');
@import url('./layout/hstack.css');
@import url('./layout/page-header.css');
@import url('./layout/toc-section.css');
@import url('./layout/popup.css');
@import url('./layout/section.css');

@import url('./signature/style/index.css');
@import url('./struct/style/index.css');

@import url('./table/table-cell.css');
@import url('./table/table-row.css');
@import url('./table/table.css');

@import url('./tree/tree-leaf.css');
@import url('./tree/tree.css');

.more-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 2px;
}
.more-buttons .more-button {
    vertical-align: top;
    color: var(--discovery-color, black);
    min-height: 0;
    padding: 4px 8px;
    margin: 0;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(127, 127, 127, 0.4);
    border-radius: 3px;
    font-size: 11px;
    line-height: 12px;
    font-family: var(--discovery-ui-font-family);
    cursor: pointer;
}
@supports not (gap: 5px) {
    .more-buttons {
        margin-top: 0;
    }
    .more-buttons .more-button {
        margin-top: 4px;
        margin-right: 5px;
    }
}
.more-buttons .more-button:hover,
.more-buttons .more-button:active,
.more-buttons .more-button:focus {
    background-color: rgba(221, 221, 221, 0.3);
    border-color: rgba(170, 170, 170, 0.6);
    outline: none;
}
.more-buttons .more-button:active {
    background-color: rgba(131, 131, 131, 0.25);
    border-color: rgba(127, 127, 127, 0.4);
}
