@import url('./_usage.css');
@import url('./alerts.css');
@import url('./badges.css');
@import url('./button.css');
@import url('./checkbox-list.css');
@import url('./checkbox.css');
@import url('./column.css');
@import url('./columns.css');
@import url('./content-filter.css');
@import url('./editors.css');
@import url('./expand.css');
@import url('./headers.css');
@import url('./hstack.css');
@import url('./image-preview.css');
@import url('./indicator.css');
@import url('./input.css');
@import url('./link.css');
@import url('./list-item.css');
@import url('./lists.css');
@import url('./menu-item.css');
@import url('./menu.css');
@import url('./nav-button.css');
@import url('./popup.css');
@import url('./section.css');
@import url('./select.css');
@import url('./signature.css');
@import url('./struct.css');
@import url('./table-cell.css');
@import url('./table-row.css');
@import url('./table.css');
@import url('./tab.css');
@import url('./tabs.css');
@import url('./text-match.css');
@import url('./toc-section.css');
@import url('./tree-leaf.css');
@import url('./tree.css');

.more-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}
.more-buttons .more-button {
    vertical-align: top;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(127, 127, 127, 0.4);
    border-radius: 3px;
    color: var(--discovery-color, black);
    padding: 4px 8px;
    font-size: 11px;
    line-height: 12px;
    font-family: system-ui, Arial, sans-serif;
    min-height: 0;
    cursor: pointer;
}
@supports not (gap: 5px) {
    .more-buttons {
        margin-top: 0;
    }
    .more-buttons .more-button {
        margin-top: 4px;
        margin-right: 5px;
    }
}
.more-buttons .more-button:hover,
.more-buttons .more-button:active,
.more-buttons .more-button:focus {
    background-color: rgba(221, 221, 221, 0.3);
    border-color: rgba(170, 170, 170, 0.6);
    outline: none;
}
.more-buttons .more-button:active {
    box-shadow: inset 0 2px 1px #f0f0f0;
    padding-top: 5px;
    padding-bottom: 3px;
}
