@import url('./_usage.css');
@import url('./alerts.css');
@import url('./badges.css');
@import url('./button.css');
@import url('./chart.css');
@import url('./checkbox-list.css');
@import url('./checkbox.css');
@import url('./column.css');
@import url('./columns.css');
@import url('./content-filter.css');
@import url('./editors.css');
@import url('./expand.css');
@import url('./headers.css');
@import url('./hstack.css');
@import url('./image-preview.css');
@import url('./indicator.css');
@import url('./input.css');
@import url('./link.css');
@import url('./list-item.css');
@import url('./lists.css');
@import url('./menu-item.css');
@import url('./menu.css');
@import url('./nav-button.css');
@import url('./popup.css');
@import url('./section.css');
@import url('./select.css');
@import url('./signature.css');
@import url('./struct.css');
@import url('./table-cell.css');
@import url('./table-row.css');
@import url('./table.css');
@import url('./tab.css');
@import url('./tabs.css');
@import url('./text-match.css');
@import url('./toc-section.css');
@import url('./tree-leaf.css');
@import url('./tree.css');

.more-buttons {
    display: block;
}
.more-buttons .more-button {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 1ex;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 11px;
    line-height: normal;
    font-family: system-ui, Arial, sans-serif;
    min-height: 0;
    cursor: pointer;
}
.more-buttons .more-button:hover,
.more-buttons .more-button:active,
.more-buttons .more-button:focus {
    border-color: #ccc;
    outline: none;
}
.more-buttons .more-button:active {
    box-shadow: inset 0 2px 1px #f0f0f0;
    padding-top: 5px;
    padding-bottom: 3px;
}
