.view-link {
    color: var(--discovery-link-color, #0099DD);
    text-decoration-skip: ink;
    text-decoration-color: var(--discovery-link-underline-color, #92cee7);
}
.view-link:hover {
    color: var(--discovery-link-hover-color, #0077BB);
    text-decoration-color: currentColor;
}
