.view-markdown:first-child > :first-child {
    margin-top: 0;
}
.view-markdown:last-child > :last-child {
    margin-bottom: 0;
}
.view-markdown :is(p, blockquote, ul, ol, dl, pre, code) {
    margin: 0;
}
.view-markdown :is(p, blockquote, ul, ol, dl, table, pre):not(:first-child) {
    margin-top: 15px;
}
.view-markdown :is(ul, ol) + :is(ul, ol) {
    margin-top: 0 !important;
}

.view-markdown blockquote {
    padding: 0;
    padding-left: 1em;
    color: #6a737d;
    border-left: .25em solid rgba(191, 197, 203, 0.5);
}
.discovery-root-darkmode .view-markdown blockquote {
    color: #808993;
}

.view-markdown code {
    padding: .2em .4em;
    font-family: var(--discovery-monospace-font-family);
    font-size: 90%;
    background-color: rgba(210, 220, 230, 0.2);
    border-radius: 3px;
}
.discovery-root-darkmode .view-markdown blockquote code {
    background-color: rgba(116, 126, 136, 0.2);
}

.view-markdown sup {
    vertical-align: top;
}
.view-markdown sub {
    vertical-align: bottom;
}

.view-markdown pre {
    padding: 4px;
    overflow: auto;
    font-family: var(--discovery-monospace-font-family);
    font-size: 90%;
    line-height: 1.25;
    background-color: rgba(155, 155, 155, 0.1);
    border-radius: 3px;
    word-break: normal;
}
.view-markdown pre code {
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    background: none;
    border-radius: 0;
    text-shadow: none;
    color: inherit;
}
.view-markdown .view-source {
    background: none;
}

.view-markdown .check-list-item {
    list-style: none;
    margin-left: -22px;
}
