.view-nav-button {
    vertical-align: top;
    display: inline-block;
    min-height: 1.6em;
    font-size: 12px;
    color: #444;
    background: #f0f0f0;
    padding: 5px 15px 6px;
    text-decoration: none;
    cursor: pointer;
}
.view-nav-button:hover,
.view-nav-button.discovery-view-popup-active {
    color: black;
    background-color: #e0e0e0;
}
.view-nav-button + .view-nav-button {
    border-left: 1px solid #d8d8d8;
}
.view-nav-button.disabled,
.view-nav-button:not(.onclick):not([href]) {
    pointer-events: none;
}
