.discovery-view-popup {
    position: fixed;
    min-width: 200px;
    box-sizing: border-box;
    z-index: 300;
    overflow: hidden;
    overflow-y: auto;
    min-height: 20px;
    border: 1px solid rgba(176, 176, 176, 0.65);
    box-shadow: 3px 3px 18px rgba(0, 0, 0, .2);
    background-color: var(--discovery-background-color);
    transition-property: background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in;
}
.discovery-view-popup.inspect {
    z-index: 2002;
}

.discovery-view-popup.show-on-hover:not([data-pin-mode="popup-hover"]):not(.pinned) {
    pointer-events: none;
}

.discovery-view-popup:not(.pinned)[data-pin-mode="trigger-click"]::before,
.discovery-view-popup:not(.pinned)[data-pin-mode="trigger-click"]::after {
    content: "Click to pin this popup";
    display: block;
    visibility: hidden;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 2px 8px;
    background-color: var(--discovery-background-color);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
    color: #888;
    font-size: 10px;
    text-align: center;
}
.discovery-view-popup:not(.pinned)[data-v-to="top"]::before {
    position: absolute;
    visibility: visible;
    bottom: 0;
}
.discovery-view-popup:not(.pinned)[data-v-to="bottom"]::after {
    position: absolute;
    visibility: visible;
    top: 0;
}
