.view-source {
    padding: 8px;
    overflow: auto;
    border-radius: 3px;
    white-space: pre;
    font-family: var(--discovery-monospace-font-family);
    font-size: 11px;
    line-height: 18px;
    color: var(--discovery-fmt-color);
    background-color: rgba(205, 205, 205, .1);
}
.view-source .lines {
    float: left;
    text-align: right;
    min-width: 3ex;
    padding-right: 1ex;
    margin-right: 1.5ex;
    border-right: 1px solid rgba(170, 170, 170, 0.4);
    color: rgba(150, 150, 150, 0.65);
}
.view-source .lines > span {
    display: block;
}
.view-source .spotlight {
    background: #fdf8cc;
    padding: 1px 2px 2px;
}
.view-source .spotlight.error {
    background: #ffc9c9;
}
.view-source .spotlight.def {
    background: #d3e7fb;
}
.view-source .spotlight.ref {
    background: #ebfdca;
}
.view-source .spotlight.global-ref {
    background: #ffd8a3;
}
.view-source a.spotlight {
    position: relative;
    color: #444;
    text-decoration: none;
}
.view-source a.spotlight:hover {
    background-color: #f3eec4;
    color: #aa6622 !important;
    text-decoration: none
}
.view-source a.spotlight::before {
    bottom: 100%;
    position: absolute;
    margin-bottom: -8px;
    padding: 2px 8px;
    opacity: 0;
    border-radius: 3px;
    background: black;
    color: white;
    pointer-events: none;
    font-size: 11px;
    content: 'Resolved to ' attr(href);
}
.view-source a.spotlight:hover::before {
    margin-bottom: 2px;
    opacity: .75;
    transition: all .1s ease-in-out;
}
.view-source .spotlight-ignore {
    background: #ddd;
    background-image: repeating-linear-gradient(-45deg,
        transparent,
        transparent 6px,
        rgba(225, 125, 0, .1) 6px,
        rgba(225, 125, 0, .1) 12px,
        transparent 12px
    );
}

.view-source .token {
    background: none;
}
.view-source .token.comment,
.view-source .token.prolog,
.view-source .token.doctype,
.view-source .token.cdata {
	color: var(--discovery-fmt-comment-color);;
}
.view-source .token.punctuation {
	color: #999;
}
.view-source .token.namespace {
	opacity: .7;
}
.view-source .token.boolean,
.view-source .token.atom {
    color: var(--discovery-fmt-atom-color);
}
.view-source .token.number {
    color: var(--discovery-fmt-number-color);
}
.view-source .token.selector,
.view-source .token.attr-value,
.view-source .token.string,
.view-source .token.string-2,
.view-source .token.char,
.view-source .token.builtin,
.view-source .token.inserted {
	color: var(--discovery-fmt-string-color);
}
.view-source .token.property,
.view-source .token.tag,
.view-source .token.constant,
.view-source .token.symbol,
.view-source .token.deleted {
	color: var(--discovery-fmt-property-color);
}
/* .view-source .token.operator, */
.view-source .token.entity,
.view-source .token.url {
	color: #9a6e3a;
}
.view-source .token.atrule,
.view-source .token.keyword {
	color: var(--discovery-fmt-keyword-color);
}
.view-source .token.function,
.view-source .token.attribute,
.view-source .token.attr-name,
.view-source .token.qualifier,
.view-source .token.class-name {
	color: #DD4A68;
}
.view-source .token.regex,
.view-source .token.important,
.view-source .token.def,
.view-source .token.variable,
.view-source .token.variable-2 {
	color: var(--discovery-fmt-variable-color);
}
.view-source .token.discovery-view-name {
    background-color: var(--discovery-fmt-string-highlight-color);
    box-shadow: 0 0 0 1px var(--discovery-fmt-string-highlight-color);
    color: #6a9c11;
}

.view-source.error {
    margin: 0;
    padding: 12px;
    background: #f9dbdb;
    color: black;
}

.view-source.disabled {
    margin: 0;
    padding: 12px;
    background: #fff0bf;
    color: black;
}
