.view-source {
    position: relative;
    padding: 8px;
    overflow: auto;
    border-radius: 3px;
    white-space: pre;
    font-family: var(--discovery-monospace-font-family);
    font-size: 11px;
    line-height: 18px;
    color: var(--discovery-fmt-color);
    background-color: rgba(205, 205, 205, .1);
}

.view-source > .action-buttons {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    gap: 4px;
    font-family: var(--discovery-font-family);
    font-size: 12px;
    line-height: 1.6;
}
.view-source > .action-buttons .view-button {
    padding: 4px 6px;
    margin: 0;
    opacity: 0.25;
    transition: .5s opacity;
}
.view-source:hover > .action-buttons .view-button {
    opacity: 1;
    transition-duration: .25s;
}
.view-source > .action-buttons .view-button.copied {
    opacity: 1;
}
.view-source > .action-buttons .view-button.copy::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    -webkit-mask: center / 12px no-repeat url("./source-copy.svg");
    mask: center / 12px no-repeat url("./source-copy.svg");
    visibility: visible;
    background-color: currentColor;
    transition: .1s .25s;
    transition-property: scale, opacity;
}
.view-source > .action-buttons .view-button::after {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-left: -12px;
    width: 12px;
    height: 12px;
    -webkit-mask: center / 16px no-repeat url("./source-copied.svg");
    mask: center / 16px no-repeat url("./source-copied.svg");
    background-color: #6a9c11;
    transition: .1s .25s;
    transition-property: scale, opacity;
}
.view-source > .action-buttons .view-button.copied::before,
.view-source > .action-buttons .view-button:not(.copied)::after {
    scale: 0;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: .2s;
}

.view-source > .lines {
    float: left;
    text-align: right;
    min-width: 3ex;
    padding-right: 1ex;
    margin-right: 1.5ex;
    border-right: 1px solid rgba(170, 170, 170, 0.4);
    color: rgba(150, 150, 150, 0.65);
}
.view-source > .lines > span {
    display: block;
}

.view-source .spotlight {
    background: #f5e69a;
    padding: 1px 2px 2px;
}
.discovery-root-darkmode .view-source .spotlight {
    background: #686246;
}
.view-source .spotlight.error {
    background: #ffc9c9;
}
.view-source .spotlight.def {
    background: #d3e7fb;
}
.view-source .spotlight.ref {
    background: #cee99b;
}
.view-source .spotlight.global-ref {
    background: #ffd8a3;
}
.view-source a.spotlight {
    position: relative;
    color: inherit;
    text-decoration: none;
}
.view-source a.spotlight:hover {
    background-color: #f3eec4;
    color: #aa6622 !important;
    text-decoration: none
}
.view-source .spotlight-ignore {
    background: #ddd;
    background-image: repeating-linear-gradient(-45deg,
        transparent,
        transparent 6px,
        rgba(225, 125, 0, .1) 6px,
        rgba(225, 125, 0, .1) 12px,
        transparent 12px
    );
}

.view-source .token {
    background: none;
}
.view-source .token.comment,
.view-source .token.prolog,
.view-source .token.doctype,
.view-source .token.cdata,
.view-source .token.quote {
	color: var(--discovery-fmt-comment-color);
}
.view-source .token.punctuation {
	color: var(--discovery-fmt-punctuation);
}
.view-source .token.namespace {
	opacity: .7;
}
.view-source .token.boolean,
.view-source .token.atom {
    color: var(--discovery-fmt-atom-color);
}
.view-source .token.number {
    color: var(--discovery-fmt-number-color);
}
.view-source .token.selector,
.view-source .token.attr-value,
.view-source .token.string,
.view-source .token.string-2,
.view-source .token.char,
.view-source .token.builtin,
.view-source .token.inserted {
	color: var(--discovery-fmt-string-color);
}
.view-source .token.property,
.view-source .token.tag,
.view-source .token.constant,
.view-source .token.symbol,
.view-source .token.deleted,
.view-source .token.header {
	color: var(--discovery-fmt-property-color);
}
.view-source .token.regex,
.view-source .token.important,
.view-source .token.def,
.view-source .token.variable,
.view-source .token.variable-2 {
	color: var(--discovery-fmt-variable-color);
}
.view-source .token.keyword,
.view-source .token.atrule,
.view-source .token.link,
.view-source .token.url {
	color: var(--discovery-fmt-keyword-color);
}
.view-source .token.qualifier,
.view-source .token.function,
.view-source .token.attribute,
.view-source .token.attr-name,
.view-source .token.class-name {
	color: var(--discovery-fmt-qualifier);
}
/* .view-source .token.operator, */
.view-source .token.entity {
	color: var(--discovery-fmt-entity);
}
.view-source .token.image,
.view-source .token.type {
    color: var(--discovery-fmt-type-color);
}
.view-source .token.discovery-view-name {
    background-color: var(--discovery-fmt-string-highlight-color);
    box-shadow: 0 0 0 1px var(--discovery-fmt-string-highlight-color);
    color: #6a9c11;
}
