.view-struct {
    position: relative;
    margin: 1px 0;
    padding: 7px 8px;
    overflow: auto;
    font-family: Consolas, Monaco, monospace;
    font-size: 11px;
    line-height: 18px;
    background: #fafafa;
    color: #666;
    white-space: nowrap;
}
.view-struct.struct-expand {
    cursor: pointer;
}
.view-struct .struct-expand-value {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap !important;
    border-radius: 4px;
    cursor: pointer;
}
.view-struct.struct-expanded-value,
.view-struct .struct-expanded-value {
    background-image: linear-gradient(to bottom, #eee, #eee);
    background-size: 1px calc(100% - 38px);
    background-position: 4.85ex 20px;
    background-repeat: no-repeat;
    background-attachment: local;
}
.view-struct.struct-expanded-value {
    background-size: 1px calc(100% - 54px);
    background-position: 11px 28px;
}
.view-struct .struct-action-button {
    vertical-align: middle;
    margin-left: 2px;
    padding: 1px 4px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 8px;
    color: #ddd;
    background: #fcfcfc;
    cursor: pointer;
}
.view-struct .show-signature {
    cursor: default;
}
@media (hover:none), (hover:on-demand) { 
    .view-struct .struct-action-button {
        padding: 3px 20px 3px;
        color: #333;
        background: white;
        border-color: #e0e0e0;
    }
    .view-struct .show-signature {
        cursor: pointer;
    }    
}
.discovery-view-popup .view-struct .show-signature { /* FIXME: temporary, until multiple popups support */
    display: none;
}
.view-struct .struct-collapse-value::before {
    content: "–";
}
.view-struct .show-signature::before {
    content: "𝕊";
}
.view-struct .string-as-text-toggle::before {
    content: "as text";
}
.view-struct .string-value-as-text .string-as-text-toggle::before {
    content: "as value";
}
.view-struct .value-actions::before {
    content: "ƒ";
}
.view-struct.struct-expand:hover,
.view-struct .struct-expand-value:hover,
.view-struct .struct-action-button:hover,
.view-struct .discovery-view-popup-active {
    color: #333;
    background: #eee;
    border-color: #d0d0d0;
}
.view-struct .entry-line {
    white-space: nowrap;
    padding-left: 4ch;
}
.view-struct .label {
    float: left;
    margin-left: -4ch;
}
.view-struct .property {
    color: #bd6476;
}
.view-struct .value {
    white-space: normal;
    vertical-align: top;
}
.view-struct .keyword,
.view-struct .number {
    color: #07a;
}
.view-struct .num-delim {
    padding-left: 3px;
}
.view-struct .string,
.view-struct .string a {
    color: #690;
    text-decoration-color: #bfd3a3;
    white-space: pre;
}
.view-struct .string a:hover {
    color: #527a00;
    text-decoration-color: currentColor;
}
.view-struct .string-length {
    padding-left: 6px;
    color: #ccc;
    font-size: 9px;
}
.view-struct .string-text-wrapper {
    display: block;
    padding: 4px 4px 4px 5.5ex;
}
.view-struct .string-text {
    display: inline;
    white-space: pre-wrap;
    box-shadow: 0 0 0 3px #e9f6e8;
    background: #e9f6e8;
    color: #690;
}
.view-struct .string-value-as-text .string-text {
    display: block;
    white-space: pre-wrap;
    box-shadow: 0 0 0 3px #f4f4f4;
    background: #f4f4f4;
    color: #666;
}
.view-struct .more {
    color: #999;
    white-space: nowrap;
}
.view-struct .string .more {
    margin: 0 3px;
}
.view-struct .more-buttons {
    padding-left: 4ch;
    display: block;
}
.view-struct-auto-link {
    display: inline-block;
    vertical-align: middle;
    background: #dfeffb;
    font-size: 10px;
    padding: 1px 4px 1px;
    line-height: 12px;
    text-decoration: none;
    color: #888;
    margin-right: 2px;
    border-radius: 3px;
    user-select: none;
}

.discovery-view-popup.view-struct-actions-popup .error {
    font-size: 11px;
    color: #a00;
}
.discovery-view-popup.view-struct-actions-popup .num-delim {
    padding-left: 3px;
}
