.view-tab {
    display: inline-block;
    padding: 2px 10px;
    font-size: 13px;
    border-bottom: var(--discovery-view-tabs-border);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    white-space: nowrap;
}
.view-tab.active {
    position: relative;
    z-index: 10;
    margin: -1px -1px 0 -1px;
    border: var(--discovery-view-tabs-border);
    border-bottom-color: transparent;
    cursor: default;
}
.view-tab.disabled {
    color: #aaa;
}
.view-tab.disabled,
.view-tab:not(.onclick) {
    pointer-events: none;
}
