.view-table {
    font-size: 12px;
    /* border-collapse: collapse; */
    border-spacing: 0;
}

.view-table > thead th {
    padding: 2px 8px;
    font-weight: normal;
    text-align: left;
    background: rgba(141, 141, 141, 0.15) no-repeat right 1px center;
    background-size: 15px;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 0;
}
.view-table > thead th:last-child {
    border-right: none;
}
.view-table > thead th.sortable {
    padding-right: 18px;
    background-image: url('./table-sortable.svg');
    cursor: pointer;
}
.view-table > thead th.sortable.asc {
    background-image: url('./table-sort-asc.svg');
}
.view-table > thead th.sortable.desc {
    background-image: url('./table-sort-desc.svg');
}
.view-table > thead th.sortable:hover {
    background-color: rgba(141, 141, 141, 0.3);
}
