.view-tabs-buttons {
    --discovery-view-tabs-border: 1px solid rgba(170, 170, 170, 0.4);
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.view-tabs-buttons::before,
.view-tabs-buttons::after {
    content: '';
    width: 6px;
    border-bottom: var(--discovery-view-tabs-border);
}
.view-tabs-buttons::after {
    flex: 1;
}

.view-tabs-buttons-before,
.view-tabs-buttons-after {
    padding: 0 6px 3px;
    padding-bottom: 3px;
    border-bottom: var(--discovery-view-tabs-border);
    color: #888;
    font-size: 13px;
}

.view-tabs-content {
    overflow: auto;
}
