.view-tabs-buttons {
    --discovery-view-tabs-border: 1px solid rgba(170, 170, 170, 0.4);
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.view-tabs-buttons::before,
.view-tabs-buttons::after {
    content: '';
    width: 6px;
    border-bottom: var(--discovery-view-tabs-border);
}
.view-tabs-buttons::after {
    flex: 1;
}
.view-tabs-buttons-before {
    display: inline-block;
    padding-right: 1ex;
    border-bottom: var(--discovery-view-tabs-border);
}
.view-tabs-buttons-after {
    display: inline-block;
    padding-left: 1ex;
    border-bottom: var(--discovery-view-tabs-border);
}
.view-tabs-content {
    overflow: auto;
}
