.view-tree-leaf {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-areas:
        "toggle content"
        "children children";
}
.view-tree-leaf:not(:last-child)::before,
.view-tree-leaf-children.incomplete > .view-tree-leaf:not(.last)::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    border-left: 1px solid #ccc;
}

.view-tree-leaf-toggle {
    grid-area: toggle;
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: 1em;
    margin-top: -3px;
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 2px;
    border: 1px solid currentColor;
    margin-right: 9px;
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    color: #aaa;
    cursor: pointer;
}
.view-tree-leaf-toggle:hover {
    color: #666;
}
.view-tree-leaf.has-children > .view-tree-leaf-toggle {
    visibility: visible;
}
.view-tree-leaf.non-collapsible:not(.collapsed) .view-tree-leaf-toggle {
    visibility: hidden;
}
.view-tree-leaf-toggle::before {
    content: '–';
}
.view-tree-leaf.collapsed > .view-tree-leaf-toggle::before {
    content: '+';
}
.view-tree-leaf-toggle::after {
    content: '';
    visibility: visible;
    position: absolute;
    z-index: -1;
    left: 4px;
    bottom: 4px;
    height: 30px;
    width: 12px;
    border: solid #ccc;
    border-width: 0 0 1px 1px;
}

.view-tree-leaf-content {
    grid-area: content;
    display: inline-block;
}

.view-tree-leaf-children {
    grid-area: children;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 18px;
}
.view-tree-leaf.collapsed > .view-tree-leaf-children {
    display: none;
}
