.page-default h1.no-data-loaded {
    margin-top: 0;
}
.page-default h1.no-data-loaded::before {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -5px;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    content: '';
    background: url('../logo.svg') no-repeat center;
    background-size: 42px;
}
