h1.modelfree::before {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -5px;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    content: '';
    background: url('../logo.svg') no-repeat center;
    background-size: 42px;
}
h1.modelfree .view-badge {
    font-size: 50%;
    vertical-align: middle;
    border: 2px solid transparent;
    background-color: rgba(159, 199, 11, 0.25);
}
