@import url('./discover/header.css');
@import url('./discover/editor-common.css');
@import url('./discover/editor-query.css');
@import url('./discover/editor-view.css');

.page-discovery {
    padding-top: 20px !important;
}
.discovery:not([data-dzen]) .page-discovery > .discovery-render-content {
    min-height: calc(100vh - 121px);
}

/********************************
* Error
********************************/

.page-discovery > .discovery-editor .discovery-error,
.page-discovery > .discovery-render-content > .discovery-error {
    display: block;
    overflow: hidden;
    border-left: 3px solid rgba(255, 0, 0, 0.8);
    background: rgba(225, 75, 75, 0.2);
    background-clip: padding-box;
    padding: 8px 12px;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: var(--discovery-monospace-font-family);
    font-size: 11px;
}
.page-discovery > .discovery-editor .discovery-error::before,
.page-discovery > .discovery-render-content > .discovery-error::before {
    display: block;
    margin-bottom: .5em;
    font-size: 16px;
}
.page-discovery > .discovery-editor .query-error::before {
    content: 'Query error';
}
.page-discovery > .discovery-render-content > .render-error::before {
    content: 'Render error';
}
