@import url('./report/header.css');
@import url('./report/block.css');
@import url('./report/editor-common.css');
@import url('./report/editor-query.css');
@import url('./report/editor-view.css');

.page-report {
    padding-top: 0;
}

/********************************
* Insert point
********************************/

.page-report > .insert-point {
    margin-left: -40px;
    padding: 4px 0 4px 40px;
    
    background: no-repeat 20px center;
    background-image: url('./report/img/block-add.svg');
    background-size: 16px;
    
    font-size: 11px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
.page-report > .insert-point:hover,
.page-report > .insert-point:last-child {
    opacity: 1;
}
.page-report > .insert-point:last-child {
    margin-top: 20px;
}
.page-report > .report-header + .insert-point {
    margin-top: -20px;
}
.discovery[data-dzen] .page-report > .insert-point {
    visibility: hidden;
}
.page-report > .insert-point .add-block {
    display: inline-block;
    margin-right: 4px;
    padding: 2px 12px;
    background: #f0f0f0;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
}
.page-report > .insert-point .add-block:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 32px);
}
