@import url('./report/header.css');
@import url('./report/editor-common.css');
@import url('./report/editor-query.css');
@import url('./report/editor-view.css');

.page-report {
    padding-top: 0;
}
.discovery:not([data-dzen]) .page-report > .report-content {
    min-height: calc(100vh - 121px);
}

/********************************
* Error
********************************/

.page-report > .report-editor .report-error,
.page-report > .report-content > .report-error {
    display: block;
    overflow: hidden;
    border-left: 3px solid rgba(255, 0, 0, 0.8);
    background: rgba(225, 75, 75, 0.2);
    background-clip: padding-box;
    padding: 8px 12px;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: Consolas, Monaco, monospace;
    font-size: 11px;
}
.page-report > .report-editor .report-error::before,
.page-report > .report-content > .report-error::before {
    display: block;
    margin-bottom: .5em;
    font-size: 16px;
}
.page-report > .report-editor .query-error::before {
    content: 'Query error';
}
.page-report > .report-content > .render-error::before {
    content: 'Render error';
}
