@import url('./report/header.css');
@import url('./report/editor-common.css');
@import url('./report/editor-query.css');
@import url('./report/editor-view.css');

.page-report {
    padding-top: 0;
}

/********************************
* Error
********************************/

.page-report > .report-block > .report-block-content > .report-error {
    display: block;
    overflow: hidden;
    border-left: 3px solid #f33;
    background: #f9dbdb;
    padding: 8px 12px;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: Consolas, Monaco, monospace;
    font-size: 11px;
}
.page-report > .report-block > .report-block-content > .report-error::before {
    display: block;
    margin-bottom: .5em;
    font-size: 16px;
}
.page-report > .report-block.query > .report-block-content > .report-error::before {
    content: 'Query error';
}
.page-report > .report-block.view > .report-block-content > .report-error::before {
    content: 'Render error';
}

/********************************
* Block
********************************/

.page-report > .insert-point {
    margin: 2px 0 2px -33px;
    max-height: 1px;
    line-height: 2px;
    font-size: 10px;
}
.discovery[data-dzen] .page-report > .insert-point {
    visibility: hidden;
}
.page-report > .insert-point .view-button {
    padding: 0 8px;
    margin: -6px 0;
    width: 8px;
    box-sizing: content-box;
}

.page-report > .report-block {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto;
    grid-template-areas:
        'actions editor'
        'actions content';
    margin-left: -40px;
}
.page-report > .report-block > .report-block-actions {
    grid-area: actions;
    display: none;
    font-size: 10px;
    padding: 8px 0;
    text-align: center;
    opacity: 0;
}
.page-report > .report-block > .report-block-editor {
    display: none;
    grid-area: editor;
}
.page-report > .report-block > .report-block-editor::before {
    background: #ddeed0;
    font-size: 10px;
    padding: 2px 8px;
    color: #6d8a66;
}
.page-report > .report-block.query > .report-block-editor::before {
    content: 'Query';
}
.page-report > .report-block.view > .report-block-editor::before {
    content: 'View';
}
.page-report > .report-block > .report-block-content {
    grid-area: content;
}

.page-report > .report-block.editable > .report-block-actions,
.page-report > .report-block.editable > .report-block-editor {
    display: block;
}

.page-report > .report-block.editable:hover > .report-block-actions,
.page-report > .report-block.editable:focus-within > .report-block-actions {
    opacity: 1;
}
.page-report > .report-block > .report-block-actions:hover {
    background: #eee;
}
.page-report > .report-block > .report-block-actions .view-button {
    padding: 0 8px;
    width: 8px;
    box-sizing: content-box;
    text-align: center;
}
.page-report > .report-block > .report-block-actions::before {
    content: 'In [' attr(data-in) ']';
}
.page-report > .report-block > .report-block-actions[data-out]::after {
    content: 'Out [' attr(data-out) ']';
}
