.page-views-showcase {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    margin: 15px 0 0;
    padding: 0 !important;
    height: calc(100vh - 65px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .8);
}

.page-views-showcase > .sidebar {
    width: 220px;
    border-right: 1px solid #f0f0f0;
}
.page-views-showcase > .sidebar .view-content-filter {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page-views-showcase > .sidebar .view-content-filter > .view-input {
    margin: 0;
}
.page-views-showcase > .sidebar .view-content-filter > .view-input input {
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}
.page-views-showcase > .sidebar .view-content-filter .view-block {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}
.page-views-showcase > .sidebar .view-menu-item:not(.disabled) {
    color: #0099DD;
}
.page-views-showcase > .sidebar .view-menu-item:hover {
    color: #0077BB;
}

.page-views-showcase > .content {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
