.discovery > .loading-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px 40px;
    background: var(--discovery-background-color);
    font-size: 16px;
    will-change: opacity;
}
.discovery > .loading-overlay > * {
    transition: opacity .15s .4s;
}
.discovery > .loading-overlay.init > *,
.discovery > .loading-overlay.done:not(.error) > * {
    opacity: 0;
}
.discovery > .loading-overlay.error {
    overflow: auto;
}
.discovery > .loading-overlay.error .view-alert .view-header {
    margin-top: 0;
}
.discovery > .loading-overlay.error .view-alert pre {
    font-family: Consolas, Liberation Mono, Menlo, monospace;
    font-size: 13px;
    margin: 0;
}
.discovery > .loading-overlay.done:not(.error) {
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.discovery > .loading-overlay .progressbar {
    margin: 15px 20px;
}

.discovery-nav-popup > .toggle-menu-item {
    padding: 4px 4px 4px 12px;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle-group {
    display: flex;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle-group-before {
    flex: 1;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle {
    font-size: 11px;
}
