.discovery > .loading-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px 40px;
    background: var(--discovery-background-color);
    font-size: 16px;
    will-change: opacity;
}
.discovery > .loading-overlay > * {
    transition: opacity .15s .4s;
}
.discovery > .loading-overlay.init > *,
.discovery > .loading-overlay.done:not(.error) > * {
    opacity: 0;
}
.discovery > .loading-overlay.error {
    overflow: auto;
}
.discovery > .loading-overlay.error .action-buttons {
    margin-bottom: 1em;
}
.discovery > .loading-overlay.error .action-buttons .view-button + .view-button {
    margin-left: 2ex;
}
.discovery > .loading-overlay.error .view-alert .view-header {
    margin-top: 0;
}
.discovery > .loading-overlay.error .view-alert .view-badge {
    color: inherit;
}
.discovery > .loading-overlay.error .view-alert pre {
    font-family: var(--discovery-monospace-font-family);
    font-size: 13px;
    margin: 0;
}
.discovery > .loading-overlay.done:not(.error) {
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
.discovery > .loading-overlay .progressbar {
    margin: 15px 20px;
}
