.view-fallback {
    margin: 1px;
    border: 1px solid #fcc;
    background: white;
}
.view-fallback > .header {
    padding: 2px 2px;
    font-size: 10px;
    line-height: 1;
    background: #ffe8e8;
    color: #666;
}

.view-fallback > .content {
    padding: 0 1px;
}
