.view-h1 {
    font-size: 220%;
    font-weight: normal;
    margin: .812em 0 .65em;
}
.view-h1:first-child {
    margin-top: 0;
}

.view-h2 {
    font-size: 150%;
    font-weight: normal;
    margin: .78em 0;
}

.view-h3 {
    font-size: 130%;
    font-weight: normal;
    margin: .73em 0;
}

.view-h4,
.view-header {
    font-size: 120%;
    font-weight: normal;
    color: #222;
    margin: .73em 0;
}

.view-h5 {
    font-size: 110%;
    font-weight: normal;
    color: #777;
    margin: .68em 0;
}
