.view-input input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}
.view-input input:focus {
    border-color: #0af;
    box-shadow: 0 0 1px 3px rgba(0, 170, 255, .2), inset 0 1px 1px rgba(142, 142, 142, .2);
    outline: 0;
}
