.view-list {
    display: block;
    list-style: none;
}

.view-ul,
.view-ol {
    margin: 0;
    padding-left: 0;
}

.view-ul:not(:empty),
.view-ol:not(:empty) {
    padding-left: 20px;
}

.view-inline-list,
.view-comma-list {
    display: inline-block;
}

.view-list:empty::before,
.view-inline-list:empty::before,
.view-ul:empty::before,
.view-ol:empty::before {
    content: attr(emptyText);
    color: #888;
}
