.discovery-view-popup {
    position: fixed;
    min-width: 200px;
    box-sizing: border-box;
    z-index: 100;
    overflow: hidden;
    overflow-y: auto;
    min-height: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 18px rgba(0,0,0,.2);
    background: white;
}

.discovery-view-popup.no-hover {
    pointer-events: none;
}
