.view-struct {
    position: relative;
    margin: 1px 0;
    padding: 7px 8px;
    overflow: auto;
    font-family: Consolas, Monaco, monospace;
    font-size: 11px;
    line-height: 18px;
    background: #fafafa;
    color: #666;
    white-space: nowrap;
}
.view-struct.struct-expand {
    cursor: pointer;
}
.view-struct .struct-expand-value {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap !important;
    border-radius: 4px;
    cursor: pointer;
}
.view-struct.struct-expanded-value,
.view-struct .struct-expanded-value {
    background-image: linear-gradient(to bottom, #eee, #eee);
    background-size: 1px calc(100% - 38px);
    background-position: 4.7ex 20px;
    background-repeat: no-repeat;
}
.view-struct.struct-expanded-value {
    background-size: 1px calc(100% - 54px);
    background-position: 10px 28px;
}
.view-struct .struct-collapse-value,
.view-struct .show-signature,
.view-struct .value-actions {
    margin-left: 2px;
    padding: 1px 4px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 8px;
    color: #ddd;
    background: #fcfcfc;
    cursor: pointer;
}
.view-struct .show-signature {
    cursor: default;
}
.discovery-view-popup .view-struct .show-signature { /* FIXME: temporary, until multiple popups support */
    display: none;
}
.view-struct .struct-collapse-value::before {
    content: "–";
}
.view-struct .show-signature::before {
    content: "𝕊";
}
.view-struct .value-actions::before {
    content: "ƒ";
}
.view-struct.struct-expand:hover,
.view-struct .struct-expand-value:hover,
.view-struct .struct-collapse-value:hover,
.view-struct .show-signature:hover,
.view-struct .value-actions:hover,
.view-struct .discovery-view-popup-active {
    color: #333;
    background: #eee;
    border-color: #d0d0d0;
}
.view-struct .entry-line {
    white-space: nowrap;
    padding-left: 4ch;
}
.view-struct .label {
    float: left;
    margin-left: -4ch;
}
.view-struct .property {
    color: #bd6476;
}
.view-struct .value {
    white-space: normal;
    vertical-align: top;
}
.view-struct .keyword,
.view-struct .number {
    color: #07a;
}
.view-struct .num-delim {
    padding-left: 3px;
}
.view-struct .string,
.view-struct .string a {
    color: #690;
    white-space: nowrap;
}
.view-struct .more {
    color: #999;
    white-space: nowrap;
}
.view-struct .more-buttons {
    padding-left: 4ch;
    display: block;
}
.view-struct-auto-link {
    display: inline-block;
    vertical-align: middle;
    background: #dfeffb;
    font-size: 10px;
    padding: 1px 4px 1px;
    line-height: 12px;
    text-decoration: none;
    color: #888;
    margin-right: 2px;
    border-radius: 3px;
    user-select: none;
}

.discovery-view-popup.view-struct-actions-popup .error {
    font-size: 11px;
    color: #a00;
}
.discovery-view-popup.view-struct-actions-popup .num-delim {
    padding-left: 3px;
}
