.view-content-filter > .view-input {
    line-height: 1;
    margin-bottom: 1em;
}

.view-content-filter > .view-input input {
    background-image: url('./content-filter.svg');
    background-repeat: no-repeat;
    background-size: 32px 16px;
    background-position: right center;
    padding-right: 30px;
}

.view-content-filter > .content {
    overflow: auto;
    flex: 1;
}
.view-content-filter > .content .view-list::before {
    padding: 5px 10px;
    display: block;
}
