.view-menu-item {
    display: block;
    padding: 4px 12px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.view-menu-item:empty::before {
    content: '\200B';
    float: left;
}
.view-menu-item:hover,
.view-menu-item.discovery-view-popup-active {
    background: rgba(131, 131, 131, 0.25);
}
.view-menu-item.selected {
    background: rgba(178, 221, 248, 0.3);
    cursor: default;
}
.view-menu-item.disabled {
    opacity: .65;
    background: none;
    pointer-events: none;
}
.view-menu-item:not(.onclick):not([href]) {
    pointer-events: none;
}
