.view-nav-button {
    vertical-align: top;
    display: inline-block;
    min-height: 1.6em;
    padding: 5px 15px 6px;
    color: #444;
    background-color: rgba(155, 155, 155, 0.15);
    font-size: 12px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.view-nav-button:hover,
.view-nav-button:focus,
.view-nav-button.discovery-view-popup-active {
    color: black;
    background-color: rgba(151, 151, 151, 0.3);
}
.view-nav-button + .view-nav-button {
    margin-left: 1px
}
.view-nav-button.disabled,
.view-nav-button:not(.onclick):not([href]) {
    pointer-events: none;
}

.discovery-root-darkmode .view-nav-button {
    color: inherit;
}
