.view-tab {
    display: inline-block;
    position: relative;
    padding: 3px 11px;
    border-bottom: var(--discovery-view-tabs-border);
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: capitalize;
}
.view-tab.active {
    z-index: 10;
    border-bottom: none;
    padding-bottom: 4px;
    cursor: default;
}
.view-tab.active::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--discovery-view-tabs-border);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
}
.view-tab.disabled {
    color: #aaa;
}
.view-tab.disabled,
.view-tab:not(.onclick) {
    pointer-events: none;
}
