@import url('./pages/index.css');
@import url('./views/index.css');
@import url('./main/index.css');

.discovery-buildin-view-render-error {
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    border: 1px solid rgba(212, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, rgba(255, 25, 25, 0.1) 19px, transparent 0);
    background-clip: padding-box;
    color: #c66;
    border-radius: 4px;
    padding: 4px;
    font-size: 10px;
    line-height: 1;
}
.discovery-buildin-view-render-error::before {
    content: 'ERROR';
    display: inline-block;
    margin: -4px 1ex -4px -4px;
    border-radius: 3px 0 0 3px;
    background: rgb(226, 36, 36, .4);
    color: rgba(255, 255, 255, .85);
    text-shadow: 1px 1px rgb(0, 0, 0, .2);
    padding: 4px;
}

.discovery-buildin-view-render-error[data-type="config"]::before {
    content: 'CONFIG ERROR';
}
.discovery-buildin-view-render-error[data-type="render"]::before {
    content: 'RENDER ERROR';
}

.discovery-buildin-view-render-error.expanded::before {
    border-bottom-left-radius: 0;
}
.discovery-buildin-view-render-error .toggle-config {
    margin-left: 1ex;
    cursor: pointer;
    opacity: .65;
    color: #888;
    user-select: none;
}
.discovery-buildin-view-render-error .toggle-config:hover {
    opacity: 1;
}
.discovery-buildin-view-render-error .view-struct {
    margin: 5px -4px -4px;
    border-radius: 0 0 3px 3px;
}

.discovery-buildin-view-tooltip {
    padding: 5px 10px;
    min-width: 120px;
    border: 0.5px solid #fff5;
    border-radius: 3px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.discovery-root-darkmode .discovery-buildin-view-tooltip {
    background: rgba(36, 36, 36, 0.8);
}
