.discovery-nav {
    position: absolute;
    z-index: 102;
    top: 0;
    right: var(--discovery-page-padding-right, 40px);
    padding: 0 1px 1px;
    border-radius: 0 0 6px 6px;
    background-color: rgba(255, 255, 255, .92);
    transition: background-color .25s ease-in;
    user-select: none;
}
.discovery-root-darkmode .discovery-nav {
    background-color: rgba(36, 36, 36, .92);
}
@supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
    .discovery-nav {
        background-color: rgba(255, 255, 255, .8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
    .discovery-root-darkmode .discovery-nav {
        background-color: rgba(36, 36, 36, .8);
    }
}
.discovery-nav > :first-child {
    border-bottom-left-radius: 5px;
    transition: border-radius .25s ease-in-out;
}
.discovery-nav > :last-child {
    border-bottom-right-radius: 5px;
    transition: border-radius .25s ease-in-out;
}
.discovery-nav .view-nav-button.discovery-view-popup-active:not(.discovery-view-has-tooltip) {
    border-radius: 0;
}
.discovery-nav .view-nav-button[data-name="burger"] {
    background-image: url('./burger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}
.discovery-nav .view-nav-button[data-name="inspect"]::before {
    content: '';
    display: inline-block;
    -webkit-mask: url('./inspect.svg') no-repeat center / 16px 16px;
    mask: url('./inspect.svg') no-repeat center / 16px 16px;
    background-color: currentColor;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin: 1px -7px 0;
    opacity: .85;
}
.discovery-nav .view-nav-button[data-name="inspect"][data-suspend-seconds]::before {
    visibility: hidden;
}
.discovery-nav .view-nav-button[data-name="inspect"][data-suspend-seconds]::after {
    content: attr(data-suspend-seconds);
    display: inline-block;
    position: absolute;
    margin-left: -14px;
    width: 24px;
    text-align: center;
}

.discovery-nav-popup > .toggle-menu-item {
    padding: 4px 4px 4px 12px;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle-group {
    display: flex;
    align-items: center;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle-group-before {
    flex: 1;
}
.discovery-nav-popup > .toggle-menu-item .view-toggle {
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.discovery-nav-popup .powered-by-discoveryjs {
    padding: 2px 6px 4px;
    font-size: 11px;
    opacity: .75;
    background-color: #8882;
    text-align: right;
}
